

{% load static %}
{% load compress %}
{% load cloudinary %}


<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        {% compress css %}
        <link rel="stylesheet" href="{% static 'style/main.scss' %}" type="text/x-scss" media="screen">
        {% endcompress %}
    </head>

    <body class="{% block bodyclass %}{% endblock %}">
        {% block content %}{% endblock %}

        {% compress js %}
        <script type="text/javascript" src="{% static 'script/app.js' %}"></script>
        {% endcompress %}
    </body>
</html>
