

{% load static %}
{% load compress %}

<!DOCTYPE html>

<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">

    <meta name="description" content="My personnal website">
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/dmeefs6iu/image/upload/v1629195723/img_lfl4sm.png"/>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Simulation Immo" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cvmyprofile.herokuapp.com/" />
    <meta property="og:image" content="https://res.cloudinary.com/dmeefs6iu/image/upload/v1629195723/img_lfl4sm.png" />
    <meta property="og:description" content="My personnal website" />
    <meta property="og:site_name" content="My peMy personnal website" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="My personnal website">
    <meta name="twitter:title" content="My personnal website">
    <meta name="twitter:description" content="My personnal website">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/dmeefs6iu/image/upload/v1629195723/img_lfl4sm.png">

    <title>{% block title %}{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'style/main.scss' %}" type="text/x-scss" media="screen">
    {% endcompress %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class="{% block bodyclass %}{% endblock %}">
    {% include '_navbar.html' %}
    {% block content %}{% endblock %}
    {% compress js %}
    <script type="text/javascript" src="{% static 'script/app.js' %}"></script>
    {% endcompress %}
  </body>
</html>



