

{% extends 'base.html'%}

{% load static %}
{% block content %}

  {% for profile in profiles %}
  <div class = "font-page invisible">
    <div>
      <div class = div-avatar>
        <img src="{{profile.profile_pic.url}}" alt="{{profile.first_name}} {{profile.last_name}}" class = "avatar">
        <h1> {{profile.first_name}} {{profile.last_name}}, {{profile.title}}</h1>
      </div>
      <div class= "div-text" >
        <p> ABOUT <span> ME </span></p>
        <br>
        <p class = "text-center"> {{profile.about_me}} </p>
      </div>
    </div>
  </div>
  {% endfor %}


  {% for experience in experiences %}
    <p>{{experience.job_name}}</p>
  {% endfor %}


{% endblock %}



