
{% extends 'base.html'%}

{% load static %}
{% block content %}



{% for profile in profiles %}
<div class = "font-page invisible">
  <div>
    <div class = div-avatar>
      <img src="{{profile.profile_pic.url}}" alt="{{profile.first_name}} {{profile.last_name}}" class = "avatar">
      <h1> {{profile.first_name}} {{profile.last_name}}, {{profile.title}}</h1>
    </div>
    <div class= "div-text" >
      <p> ABOUT <span> ME </span></p>
      <br>
      <p class = "text-center"> {{profile.about_me}} </p>
    </div>
  </div>
</div>
{% endfor %}



<div class="list" id="experience">
  <h1 class="title">Experience</h1>
  {% for experience in experiences %}
    <div class="sublist display-flex invisible">
      <div class = "div-logo">
        <img src="{{experience.logo_company.url}}" alt="{{experience.job_name}}" class = "logo-long">
        <p class ="date">{{experience.start_date}}-{{experience.end_date}}</p>
      </div>
      <div class = "cart-info">
        <h2>{{experience.job_name}}</h2>
        <h3>{{experience.company}}</h3>
        <p>{{experience.description}}</p>
      </div>
    </div>
    <hr>
  {% endfor %}
</div>


  <div class="box" id="competence">
    <h1 class="title"> Skill </h1>
    {% for skillcategorie in skillcategories %}
      <div>
        <div class="subbox invisible">
          <h2>{{skillcategorie.category_name}}</h2>
          <div class="competence-list">
            {% for skill in skillcategorie.skill_set.all %}
              <ul>
                  {% if skill.Subcategory %}
                    <li><span>{{skill.Subcategory.subcategory_name}}</span>: {{skill.name}} </li>
                  {% else %}
                    <li>{{skill.name}} </li>
                  {% endif %}
              </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>


{% endblock %}
