
{% extends 'base.html'%}
{% load static %}
{% block content %}
{% load custom_tags %}

  <div class = "font-page invisible">
    <div>
      <div class = div-avatar>
        <img src="{{profile.profile_pic.url}}" alt="{{profile.first_name}} {{profile.last_name}}" class = "avatar">
        <h1> {{profile.first_name}} {{profile.last_name}}, {{profile.title}}</h1>
        {% include "_network.html" with networks=networks %}
      </div>
      <div class= "div-text" >
        <p> ABOUT <span> ME </span></p>
        <p class = "text-center"> {{profile.about_me|linebreaks}} </p>
      </div>
    </div>
  </div>

  <div class="list" id="experience">
    <h1 class="title">Experience</h1>
    {% for experience in experiences %}
      <div class="sublist display-flex invisible">
        <div class = "div-logo">
          <img src="{{experience.logo_company.url}}" alt="{{experience.job_name}}" class = "logo-long">
          <p class ="date">{{experience.start_date|date:'Y'}}-{{experience.end_date|date:'Y'}}</p>
        </div>
        <div class = "cart-info">
          <h2>{{experience.job_name}}</h2>
          <h3>{{experience.company}}</h3>
          <p>{{experience.description|safe}}</p>
          <div class="technical_track">
            <span>Technical Skills :</span>
            <div class="skills">
              {% for skill in experience.skills.all %}
                <p class="skill">{{skill.name}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% if forloop.counter != experiences|length  %}
        <hr>
      {% endif %}
    {% endfor %}
  </div>

  <div class="box" id="competence">
    <h1 class="title"> Skill </h1>
    {% for skillcategorie, skills in skills_dico.items %}
      <div>
        <div class="subbox invisible">
          <h2>{{skillcategorie}}</h2>
          <div class="competence-list">
            {% for key, values in skills.items %}
              {% if key == values %}
                <div class="skills">
                  <p class="skill">{{key}}</p>
                </div>
              {% else %}
                <div class="technical_track">
                  <span>{{key}}</span>
                  <div class="skills">
                    {% for value in values %}
                      <p class="skill">{{value}}</p>
                    {% endfor %}
                  </div>
                </div>
                {% if forloop.counter != skills|length  %}
                  <hr>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

 <div id="portfolio">
    <h1 class="title">Portfolio</h1>
    {% for project in portfolios %}
      <div class="portfolio invisible {% if forloop.counter|divisibleby:2 %} reverse {% endif %}">
        <div class = "img-portfolio">
          <figure>
            <img src="{{project.img}}" alt="ctt">
          </figure>
        </div>
        <div class = "card-info-portfolio {% if forloop.counter|divisibleby:2 %} l-border {% else %} r-border {% endif %}">
          <div class = "portfolio-description">
            <h3>{{project.project_title}}</h3>
            <p>
              {{project.description|safe}}
            </p>
            <div class="technical_track">
              <span>Technical Skills :</span>
              <div class="skills">
                {% for skill in project.skills.all %}
                  <p class="skill">{{skill.name}}</p>
                {% endfor %}
              </div>
            </div>
            <div class="project_links">
              {% if project.link_website %}
                <a href="{{project.link_website}}" class="link_website">Website</a>
              {% endif %}
              {% if project.link_github %}
              <a href="{{project.link_github}}" class="link_github">Github</a>
              {% endif %}
              {% if project.link_medium %}
              <a href="{{project.link_medium}}" class="link_medium">Medium</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>


  <div class="list" id="publication">
    <h1 class="title">Publication</h1>
    {% for publication in publications %}
    <div class = "sublist invisible">
      <h3><a href="{{publication.publication_link}}" target="_blank"> {{publication.title}}</a></h3>
      <div class = "journal_info">
        <p class="journal">{{publication.journal_name}}</p>
        <p>({{publication.publication_date|date:'Y'}})</p>
      </div>
      <p class="authors"><b>Author</b>: {{ publication.author|spotme:profile.full_name|safe }}</p>
    </div>
    {% endfor %}
  </div>


  <div class="box" id="education">
    <h1 class="title">Education</h1>
    {% for study in studies %}
      <div class="subbox display-flex invisible">
        <div class = "div-logo">
          <img src={{study.img}} alt="" class = "logo-square">
          <p class ="date">{{study.obtention_date|date:'Y'}}</p>
        </div>
        <div class = "cart-info">
          <h2>{{study.title}}</h2>
          <h3><a href={{study.link}} target="_blank"> {{study.school_name}}</a></h3>
          <p>{{study.description|safe}}</p>
        </div>
      </div>
    {% endfor %}
  </div>

  <footer>
    {% include "_network.html" with networks=networks %}
    <p class = "copyrigth">Copyright © Bottois Hugo 2021</p>
  </footer>

{% endblock %}



