.font-page {
  background-color: rgb(240, 240, 240);
  width: 100%;
  min-height: calc(100vh - 55px);
  display: flex;
  border-bottom: 1px solid lightgrey;
  color: black;
}

.font-page > div {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  height: 70%;
}

.font-page h1 {
  text-align:center;
  padding-top: 10px;
  margin: 0;
}

.div-text {
  flex-direction: column;
  align-content: center;
  width: 50%;
}


.div-text p:first-child {
  text-align: center;
  margin-bottom: 20px;
}

.div-text p {
  text-align: justify;
}

.div-text span {
  color: white;
  background-color: #2c3e50;
  padding: 5px 10px;
}


@media (max-width: 600px){
  .div-text {
    width: 80%;
  }
}

