@import "avatar";
@import "container";
@import "font-page";
@import "navbar";
@import "footer";
@import "portfolio";
@import "links";
@import "text";


html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html{
  scroll-behavior:smooth
}

body {
  margin:0px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4 {
  margin: 0px;
  padding:0px;
}

h1, h2 {
  color: black;
}

p {
  text-align: justify;
}

h1 {
  font-size:28px;
  font-family: "Roboto", "Helvetica Neue", "sans-serif";
  text-align: center;
}

h2 {
  font-family: "Roboto", "Helvetica Neue", "sans-serif";
  font-size:26px;
  line-height:32px;
}

h3 {
  font-family: "San Francisco (Numbers)", "FreightSansPro", "Helvetica", "sans-serif";
  font-size:24px;
  line-height:32px;
}

h4 {
  font-family: "San Francisco (Numbers)", "FreightSansPro", "Helvetica", "sans-serif";
  margin: 0;
}

p, ul, li {
font-family: "San Francisco (Numbers)", "FreightSansPro", "Helvetica", "sans-serif";
font-size:20px;
line-height: 20px;
}

ul, li {
  line-height: 20px;
  text-decoration: none;
  padding:0;
}


@media (max-width: 960px){
  .cart-sub {
    flex-wrap: wrap;
  }
}





