@import "avatar";
@import "container";
@import "font-page";
@import "navbar";
@import "footer";
@import "portfolio";
@import "links";


body {
  margin:0px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4 {
  margin: 0px;
  padding:0px;
}

h1, h2 {
  color: black;
}

h1 {
  font-size:28px;
  font-family: "Roboto", "Helvetica Neue", "sans-serif";
  text-align: center;
}

h2 {
  font-family: "Roboto", "Helvetica Neue", "sans-serif";
  font-size:26px;
  line-height:32px;
}

h3 {
  font-family: "San Francisco (Numbers)", "FreightSansPro", "Helvetica", "sans-serif";
  font-size:24px;
  line-height:32px;
}

h4 {
  font-family: "San Francisco (Numbers)", "FreightSansPro", "Helvetica", "sans-serif";
  margin: 0;
}

p, ul, li {
font-family: "San Francisco (Numbers)", "FreightSansPro", "Helvetica", "sans-serif";
font-size:20px;
line-height: 20px;
}

ul, li {
  line-height: 20px;
  text-decoration: none;
  padding:0;
}

.title {
  padding-top: 25px;
}

.copyrigth {
  padding-bottom: 10px;
  text-align: center;
  font-size: 12px;
  color: white;
}

.text-center {
  text-align: center;
}

.display-flex {
  display: flex;
}

.date {
  color: grey;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}

hr {
  width: 90%;
  margin:auto;
}

span {
  color: blue;
  font-weight: bold;
}

@media (max-width: 960px){
  .cart-sub {
    flex-wrap: wrap;
  }

  .skillset {
    flex-wrap: wrap;
  }
}


.skillset {
  width: 100%;
  display:flex;
  margin-top: 15px;
}

.subcategorie {
  width: 200px;
  display:flex;
  margin-bottom: 20px;
}

.skills {
  display:flex;
  width:80%;
  flex-wrap: wrap;
}
.skill {
  padding: 4px 6px;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  border: 2px solid #1EDD88;
  margin: 0px 8px 8px 8px;
}




