
/* Network links*/

.fab {
  color:#2c3e50;
}

.fab:hover {
  color:blue;
}

.network li {
  display: inline;
  font-size: 30px;
}

.fab {
  color: #2D3E50;
}

.fab:hover {
  color: #117EFF;
}

.fas {
  color: #2D3E50;
}

.fas:hover {
  color: #117EFF;
}


.project_links ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  li {
    padding-right: 20px;
    font-size: 30px;
  }
}


